In [6]:
import pandas as pd
from sklearn.feature_extraction.text import  TfidfVectorizer,CountVectorizer

C:\Program Files\MySoft\anaconda3\Anaconda3_20240312\envs\deepLearning_txtClassification\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
train = pd.read_csv('D:\wk\myProject\plan_video\data\project_newsTxtClassification_data\\train_set.csv',sep='\t')

In [5]:
train

        label                                               text
0           2  2967 6758 339 2021 1854 3731 4109 3792 4149 15...
1          11  4464 486 6352 5619 2465 4802 1452 3137 5778 54...
2           3  7346 4068 5074 3747 5681 6093 1777 2226 7354 6...
3           2  7159 948 4866 2109 5520 2490 211 3956 5520 549...
4           3  3646 3055 3055 2490 4659 6065 3370 5814 2465 5...
...       ...                                                ...
199995      2  307 4894 7539 4853 5330 648 6038 4409 3764 603...
199996      2  3792 2983 355 1070 4464 5050 6298 3782 3130 68...
199997     11  6811 1580 7539 1252 1899 5139 1386 3870 4124 1...
199998      2  6405 3203 6644 983 794 1913 1678 5736 1397 191...
199999      3  4350 3878 3268 1699 6909 5505 2376 2465 6088 2...

[200000 rows x 2 columns]

In [9]:
# 1. 使用CountVectorizer，转换词向量
countvector = CountVectorizer(max_features=3000)
train_vec = countvector.fit_transform(train['text'])

In [ ]:
# 2. 使用模型训练
clf = RidgeClassifier()
clf.fit(x_train_vec[:10000],x_train['label'].values[:10000])